<%=form_for @service do |f|%>

    <div class="row">
          
        <div class="col-md-6 col-md-offset-3">
            <%= f.text_field :name , placeholder:"Nombre",class: "form-control" %>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-6 col-md-offset-3">
            <%= f.text_field :latitude, placeholder:"latitude",class: "form-control" %>
        </div>

    </div>
    <div class="row">
        
        <div class="col-md-6 col-md-offset-3">
            <%= f.text_field :longitude, placeholder:"longitude",class: "form-control" %>
        </div>

    </div>
    <div class="row">
        
        <div class="col-md-6 col-md-offset-3">
            <%#= f.text_field :phone, placeholder:"Teléfono",class: "form-control" %>   
        </div>

    </div>
    <div class="row">

         
        <div class="col-md-6 col-md-offset-3">
            <%#= f.text_field :email, placeholder:"Email",class: "form-control" %>  
        </div> 
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%#= f.select :service_type,SERVICE_NAMES.each_with_index.map{ |val, i| [ val, i ]  },{:include_blank => "Servicio"},class: "form-control"%>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <%= f.submit "OK",class: "form-control btn btn-success" %>
        </div>
    </div>

<%end%>