<div class="jumbotron">
	<div align="center">
		<b>Total: <%= @services.count%></b>
	</div>
	

	<div class="row">
			
			<div class="col-md-2">
				<b>Nombre</b>
			</div>
			
			<div class="col-md-2">
				<b>Email</b>
			</div>

			<div class="col-md-1">
				<b>Servicio</b>
			</div>

			<div class="col-md-1">
				<b>Telefono</b>
			</div>

			<div class="col-md-2">
				<b>Latitud</b>
			</div>
			<div class="col-md-2">
				<b>Longuitud</b>
			</div>

			<div class="col-md-1">
				
			</div>
			<div class="col-md-1">
				
			</div>



		</div>

	<%@services.each do |ser|%>
		
		<div class="row">
			
			<div class="col-md-2">
				<%=ser.name%>
			</div>
			
			<div class="col-md-2">
				<%=ser.email%>
			</div>

			<div class="col-md-1">
				<%=SERVICE_NAMES[ser.service_type] if ser.service_type%>
			</div>

			<div class="col-md-1">
				<%=ser.phone%>
			</div>

			<div class="col-md-2">
				<%=ser.latitude%>
			</div>
			<div class="col-md-2">
				<%=ser.longitude%>
			</div>

			<div class="col-md-1">
				<%=link_to "Delete",service_path(ser), 'data-method' => :delete, :class => "delete", :confirm => "Are you sure ?"%> 
			</div>

			<div class="col-md-1">
				<%= link_to "edit",edit_service_path(ser) %> 
			</div>

		</div>

	<%end%>
</div>